.header {
  background-color: #eb5353;
  /* background-color: red; */
  height: 100%;
  /* top: 0; */
  transition: all linear 0.2s;
  z-index: 98;
  position: fixed;
  right: -12rem;
  top: 0;
  overflow: hidden;
}

.header.active {
  right: 0rem;
}

.header ul {
  padding: 5rem 0;
  display: block;
  margin: 0 2rem;
}



.allLists {
  /* border: 2px solid red; */
  text-decoration: none;
  /* list-style: none; */
  /* background: none; */
  margin: 3rem 0vh;
  text-align: center;
}

.allLinks {
  transition: all linear 0.2s;
  font-family: "Arimo", sans-serif;
  font-weight: 600;
  margin-left: 0vw;
  font-size: 1.4rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(235, 83, 83);
  margin: 40px 0px;
}

.allLinks:hover {
  border-bottom: 2px solid rgb(255, 255, 255);
}

#tog {
  z-index: 99;
  font-size: 2rem;
  position: fixed;
  right: 2rem;
  top: 2rem;
  cursor: pointer;
  color: rgb(235, 83, 83);
  transition: all linear 0.3s;
}

#tog.active {
  color: white;
}

#tog:hover {
  color: white;
}

.mode{
  /* border: 2px solid white; */
}

.fa-sun,.fa-moon{
  margin-right: 1rem;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.4rem;
  color: white;
  padding: 5px;
  border-radius: 100px;
  cursor: pointer;
  transition: all linear .3s;
}

.fa-sun:hover,.fa-moon:hover{
  color: black;
}
