
.skillBody {
  color: var(--p-color);
  /* height: 65rem; */
  margin: 5px 10px;
  position: relative;
}


.darkmode{
  --p-color:white;
 
}
.lightmode{
  --p-color:rgb(0, 0, 0);
  
  }


section > div{
  display: flex;
  flex-wrap: wrap;

}

section > h2{
color: rgb(200, 179, 95);
font-weight: 600;
font-size: 2.2rem;
/* font-style: oblique; */
margin-bottom: 1rem;

}

.eachSkill{

  margin-right: 2rem;
  /* z-index: 200; */
}

.eachSkill p{
  /* display: flex; */
  font-size: 1.8rem;
  margin-bottom: 4rem;
  border: 2px solid rgb(182, 129, 49);
  /* border-radius: 5px; */
padding: 0 6px 0 6px;
/* background: linear-gradient(
  to right,
  rgb(182, 129, 49),
  rgb(246, 221, 122)
); */
}
.a-icon{
  color: rgb(232, 84, 84);
}
.eachSkill i{
  align-self: center;
  margin-right: .5rem;
}
.eachSkill .i{
  margin-right: .5rem;
  align-self: center;
}
.eachSkill>p{
  margin-right: .5rem;

}


.myskills{
  display: flex;
  font-size: 4rem;
}
.myskills p{
  opacity: 0;
  color: transparent;
  background: linear-gradient(
    to right,
    rgb(182, 129, 49),
    rgb(189, 170, 95),
    rgb(160, 115, 47)
  );
  -webkit-text-stroke: 1px rgb(30, 30, 30);
  font-family: "Raleway", sans-serif;
  background-clip: content-box;
  -webkit-background-clip: text;
  /* margin: 20px 0px 0px 20px; */
}

/* 
.eachSkill {
  font-family: "Rubik", sans-serif;
  position: relative;
  font-size: 33px;
  margin-left: 30px;
  top: 6rem;
} */

/* .fiveStars .fa-solid,
.fiveStars .fa-regular {
  color: rgb(213, 68, 68);
  margin: 0px 2px;
} */

/* .allskills2{
  font-family: "Rubik", sans-serif;
  position: relative;
  font-size: 33px;
  margin-left: auto;
  margin-right: 30px;
  top: 6rem;

} */

/* .allskills div {
  width: fit-content;
  
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  
} */


/* .allskills div .fa-brands {
  align-self: center;
} */

.fa-html5 {
  color: rgb(245, 134, 70);
}
.fa-css3-alt {
  color: rgb(87, 171, 245);
}

.fa-js {
  color: rgb(246, 239, 49);
}
.fa-react {
  color: rgb(110, 177, 236);
}
.fa-bootstrap {
  color: rgb(160, 77, 224);
}
.tailwind{
  color: rgb(120, 166, 208);
}
.typescript{
  color: rgb(90, 137, 178);
}
.blender{
  color: rgb(222, 129, 58);
}
.postgre{
  color: rgb(84, 108, 129);
}
.redis{
  color: rgb(201, 65, 65);
}
.python{
  color: rgb(223, 179, 97);
}
.github{
  color: rgb(84, 95, 123);
}
/* .jenkins{
  color: rgb(198, 75, 75);
} */
.docker{
  color: rgb(108, 142, 230);
}
.kuber{
  color: rgb(98, 131, 215);
}

/* .fa-wordpress {
  color: rgb(78, 97, 173);
}
.fa-figma {
  color: rgb(226, 96, 96);
} */
.fa-node-js,
.mongodb {
  color: rgb(108, 185, 57);
}
.terra {
  color: #7b42bc;
}
.php{
  color: rgb(218, 142, 218);
  width: 2.4rem;
  margin-right: .5rem;
}

:root .eachSkill1 {
  --i: 1;
}
:root .eachSkill2 {
  --i: 2;
}
:root .eachSkill3 {
  --i: 3;
}
:root .eachSkill4 {
  --i: 4;
}
:root .eachSkill5 {
  --i: 5;
}
:root .eachSkill6 {
  --i: 6;
}
:root .eachSkill7 {
  --i: 7;
}
:root .eachSkill8 {
  --i: 8;
}
:root .eachSkill9 {
  --i: 9;
}
:root .eachSkill10 {
  --i: 10;
}
:root .eachSkill11 {
  --i: 11;
}

.skillRotateBigCont {
  width: 100vw;
  /* display: grid;
  place-items: center; */
  position: absolute;
  top: 60vh;
  left: 95vw;
  transform: scale(1.5);
  /* border: 2px solid green; */
}

.skillRotateCont {
  display: flex;
  position: relative;
  /* top: 20rem; */
  /* left: 20rem; */
  width: 0vw;
  height: 0;
  transform-style: preserve-3d;
  transform-origin: center;
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  0% {
    transform: perspective(1200px) rotateY(0deg);
  }

  100% {
    transform: perspective(1200px) rotateY(-360deg);
  }
}

.skillRotateh2 {
  text-shadow: 300px -210px rgba(64, 64, 64, 0.2),
    200px -140px rgba(64, 64, 64, 0.2), 100px -70px rgba(64, 64, 64, 0.2),
    100px 70px rgba(54, 54, 54, 0.2), 200px 140px rgba(54, 54, 54, 0.2),
    300px 210px rgba(54, 54, 54, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  background: linear-gradient(
    to right,
    rgb(182, 129, 49),
    rgb(246, 221, 122),
    rgb(160, 115, 47)
  );
  -webkit-text-stroke: 1px rgb(201, 157, 69);
  background-clip: content-box;
  -webkit-background-clip: text;

  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateX(10deg) rotateY(calc(var(--i) * calc(360deg / 8)))
    translateZ(200px);
}

@media (max-width: 1000px) {
  .myskills {
    font-size: 7vw;
  }
  .allskills {
    /* top: 1rem; */
    /* left: 23vw; */
    /* margin-left: -6vw; */
    top: 3rem;
    font-size: 3vw;
  }
  .allStars {
    left: 23vw;
    margin-left: 10vw;
    top: 1rem;
    font-size: 4.2vw;
  }

  .skillRotateBigCont main h2 {
    font-size: 4vw;
    
  }
  .skillRotateBigCont{
    top: 50vh;
    left: 75vw;
    /* z-index: -0; */
    
  }

  /* .skillRotateCont {
    top: 65vw;
    left: -3rem;
  } */
  
}


@media (max-width: 800px) {
  .myskills {
    font-size: 8vw;
  }

  .allskills1 {
    margin-left: .2rem;
  }
  .allskills2 {
    margin-right: .2rem;
  }
  

  .skillRotateBigCont main h2 {
    font-size: 4vw;
  }

  /* .skillRotateCont {
    top: 65vw;
    left: -3rem;
  } */
 
}

@media (max-width: 700px) {
 
  .allskills div{
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
 
 
 
  .skillRotateBigCont {
    top: 60vh;
  }
  

  .skillRotateBigCont main h2 {
    font-size: 4vw;
  }

  section >h2{
    font-size: 6vw;
  }
  .eachSkill p{
    font-size: 4vw;
    margin-bottom: 2rem;
  }
  .eachSkill{
    margin-right: .2rem;
  }

 
}

@media (max-width: 500px) {
  /* .skillBody {
    height: 115vw;
  } */
  

.allskills div{
  margin-bottom: 10px;
}
.skillRotateBigCont {
  top: 50vh;
}

}

@media (max-width: 400px) {
 
  .allskills div{
    margin-bottom: 0px;
  }
  .allskills1 {
    margin-left: .1rem;
  }
  .allskills2 {
    margin-right: .1rem;
  }

  .allskills {
    /* left: 20vw; */
    font-size: 2.5vw;
  }
  /* .allStars {
    left: 20vw;
    font-size: 5vw;
  } */

  .skillRotateBigCont main h2 {
    font-size: 5vw;
  }

  .skillRotateCont {
    top: -10vw;
  }

}

@media (max-width: 350px) {
  .skillRotateCont {
    top: -20vw;
  }
  /* .skillBody {
    height: 175vw;
  } */
}
