

.darkmode{
  --p-color:white;
 
}
.lightmode{
  --p-color:rgb(0, 0, 0);
  
  }
.ytBody {
  /* border: 2px solid red; */
  /* height: 45rem; */
  overflow: hidden;
  position: relative;
  margin: 2rem 10px;
}

.myYT {
  display: flex;
  font-size: 4rem;

}
.myYT p{
  opacity: 0;
  color: transparent;
  background: linear-gradient(
    to right,
    rgb(182, 129, 49),
    rgb(189, 170, 95),
    rgb(160, 115, 47)
  );
  -webkit-text-stroke: 1px rgb(30, 30, 30);
  font-family: "Raleway", sans-serif;
  background-clip: content-box;
  -webkit-background-clip: text;
  /* position: absolute; */
  /* margin: 20px 0px 0px 20px; */
}

.para {
  color: var( --p-color);
  font-family: "Rubik", sans-serif;
  /* margin: 20px 20px; */
  font-size: 1.5rem;
}

.para span {
  font-family: "Raleway", sans-serif;
  font-size: 1.9rem;
}
.para span a {
  font-size: 1.9rem;
  /* text-decoration: none; */
  color: rgb(233, 83, 83);
  transition: all linear 0.2s;
}

.allYTVideos {
  /* border: 2px solid red; */
  display: grid;
  place-items: center;
  position: relative;
  grid-template-columns: 5fr 5fr 5fr;
}

.eachYTVideo {
  margin: 10px 0px;
}

.bgYoutube {
  width: 0;
  position: absolute;
  /* position: relative; */
}

.bgYoutube p {
  color: white;
  color: transparent;
  -webkit-text-stroke: 1px rgb(201, 157, 69);
  font-size: 20rem;
  font-family: "Raleway", sans-serif;
  position: relative;
  top: 16rem;
  left: 240rem;
  filter: blur(2px);
}

@media (max-width: 1000px) {
  .myYT {
    font-size: 7vw;
  }
  .para {
    font-size: 3.3vw;
  }
  .para span a {
    font-size: 3.3vw;
  }
}

@media (max-width: 800px) {
  /* .ytBody {
    height: 130vw;
  } */
  .myYT {
    font-size: 8vw;
  }
  .para {
    font-size: 3.7vw;
  }
  .para span a {
    font-size: 3.7vw;
  }

  .removeYTVidAt800px {
    display: none;
  }
  .allYTVideos {
    grid-template-columns: 1fr 1fr;
  }
}


@media (max-width: 600px) {
  /* .ytBody {
    height: 145vw;
  } */
  .para {
    font-size: 3.9vw;
    margin: 5px 5px;
  }
  .para span a {
    font-size: 3.9vw;
  }
}


@media (max-width: 400px) {
  
  /* .ytBody {
    height: 150vw;
  } */
  .para {
    font-size: 4.5vw;
  }
  .para span a {
    font-size: 4.5vw;
  }
}
@media (max-width: 350px) {
  
  /* .ytBody {
    height: 165vw;
  } */
  .para {
    font-size: 4.5vw;
  }
  .para span a {
    font-size: 4.5vw;
  }
}
